//@import '~antd/dist/antd.css';
@import "~antd/dist/antd.less";

/* Main CSS stylesheet */
html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

@media screen and (prefers-color-scheme: light), screen and (prefers-color-scheme: no-preference) {
  /* Light moe */
  body {
    color: #000;
    background-color: #fff;
  }
}

@media screen and (prefers-color-scheme: dark) {
  /* Dark moe */
  body {
    color: #fff;
    background-color: #000;
  }
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
}

#login-card {
  width: 600px;
  margin: 0 auto;
}

#upload-button {
  white-space: normal;
  min-height: 32px;
  height: auto;
}

#side-rates {
  margin: 16px 0px;
}

#side-stats .ant-statistic {
  text-align: center;
}

#side-stats .ant-statistic-content {
  display: inline-block;
}

#side-stats .ant-statistic-content-prefix {
  font-size: 16px;
}

#torrents-layout {
  display: flex;
  flex-direction: row;
}

#torrents-sider {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#torrents-main {
  padding: 0;
}

#torrents-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#torrents-dimensions {
  height: 100%;
  overflow-y: hidden;
}

#home-header {
  z-index: 2;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

#home-header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#home-header .logo .ant-avatar {
  margin-right: 12px;
}

#home-content {
  padding-top: 16px;
}

@download-color: @success-color;
@upload-color: @primary-color;

.statistic-download .ant-statistic-content {
  color: @download-color;
}

.statistic-upload .ant-statistic-content {
  color: @upload-color;
}

path.upload {
  stroke: @upload-color;
}

path.download {
  stroke: @download-color;
}

.files-modal .ant-modal-header {
  border-bottom: none;
}

.files-modal .ant-modal-body {
  padding-top: 0;
}